////////////////////////
// Custom Reset CSS
////////////////////////
html
  -webkit-text-size-adjust 100%
  -ms-text-size-adjust 100%
  font-size $root-fontsize-small
  +tablet()
    font-size $root-fontsize-medium
  +desktop()
    font-size $root-fontsize-large
  +widescreen()
    font-size $root-fontsize-large
  +fullhd()
    font-size $root-fontsize-xlarge
  *
    box-sizing border-box

body
  font-size $fontsize-medium
  font-family $fontfamily-sansserif
  font-style normal
  line-height 2
  overflow-x hidden
  width 100%
  position relative

// common heading
heading()
  color $color-heading
  font-weight bold
  line-height 1.4
  letter-spacing .1rem
  font-feature-settings 'palt'
  padding-top ($section-gap/2)
  margin-bottom ($section-gap/2)
  margin-top 0
  > span
    display inline-block

headline_a()
  &,
  &:visited,
  &:focus
    color $color-heading
  &:hover
    color lighten($color-heading, 20%)

h1,h2,h3,h4,h5,h6,
.e-h1,.e-h2,.e-h3,.e-h4,.e-h5,.e-h6
  heading()
  a
    headline_a()

palt()
  letter-spacing .05rem
  font-feature-settings 'palt'
  text-align justify

p
  font-size $fontsize-medium
  color $color-text
  margin 0
  &:empty
    display none


a
  // palt()
  color $color-link
  text-decoration none
  letter-spacing .05rem
  transition all .1s
  color $color-focus
  &:visited
    color $color-visited
  &:hover
    color $color-hover
  &:focus
    color $color-focus
  .lifestyle &
    color $color-bg-lifestyle0
    &:visited
      color mix($color-bg-lifestyle0, #fff)
    &:hover
      color lighten($color-bg-lifestyle0, 30%)
  .family &
    color $color-bg-family0
    &:visited
      color mix($color-bg-family0, #fff)
    &:hover
      color lighten($color-bg-family0, 30%)
  .remote &
    color $color-bg-remote0
    &:visited
      color lighten($color-bg-remote0, 30%)
    &:hover
      color lighten($color-bg-remote0, 20%)
  .travel &
    color $color-bg-travel0
    &:visited
      color mix($color-bg-travel0, #fff)
    &:hover
      color lighten($color-bg-travel0, 30%)
  .lifelog &
    color $color-bg-lifelog0
    &:visited
      color mix($color-bg-lifelog0, #fff)
    &:hover
      color lighten($color-bg-lifelog0, 30%)

&::selection
  color: $color-white
  background: rgba($color-key , .8)

img
  max-width 100%

ul, ol
  margin 0
  padding 0

// Bold.
b, strong
  font-weight bold

// Italic.
em, i
  font-style italic

blockquote
  margin 0

.typeset
  div:not(.columns),
  iframe
    max-width 100%

  img
    img()

  // Nice underlines for text links.
  p a, li a
    p_a()

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p
    p()

  // Heading level 1.
  h1
    h1()

  // Heading level 2.
  h2
    h2()

  // Heading level 3.
  h3
    h3()

  // Heading level 4.
  h4
    h4()

  // Heading level 5.
  h5
    h5()

  // Heading level 6.
  h6
    h6()

  // Lists.
  ul
    ul()

  // Ordered lists.
  ol
    ol()

  // Definition lists.
  dl
    dl()

  // Tables.
  table
    table()

  // Caption and inline small text.
  small
    small()

  .inline-list
    inline-list()

  .wp-caption-text
    caption()

  // Nice spacing for captions.
  h1 + .caption,
  h2 + .caption,
  h3 + .caption,
    margin-top (-1 * $section-gap / 2)

  h4 + .caption,
  h5 + .caption,
  h6 + .caption
    margin-top: 0rem

  // Quotes.
  blockquote
    blockquote()

  // Horizontal rule.
  hr
    hr()

  // Pre block.
  pre
    pre()

  // Code block.
  code
    code()

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper
    upper()

  // Real small caps.
  .small-caps
    small-caps()

  // Consistent height numbers with OpenType.
  .lining-numerals
    lining-numerals()

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals
    oldstyle-numerals()