////////////////////////
// Typeset CSS
////////////////////////

fontline($fontsize=$fontsize-medium, $linescale=2, $bottomcale=1)
  font-size $fontsize
  padding-top ($fontsize / 2 / $bottomcale) * ($linescale / 2)
  margin-bottom $fontsize * $bottomcale * ($linescale / 2)
  line-height $fontsize * $linescale
  &:first-child
    padding-top 0

// Heading level 1.
h1()
  fontline($fontsize-xxlarge, 1.4, 0.5)

// Heading level 2.
h2()
  fontline($fontsize-xlarge, 1.6, 0.5)
  background linear-gradient(transparent, transparent 75%, rgba(#fff, .8) 75%, rgba(#fff, .8))
  display inline-block
  padding-left .5rem
  padding-right .5rem
  // font-weight normal
  font-family $fontfamily-sansserif-ja


// Heading level 3.
h3()
  fontline($fontsize-large, 1.8, 0.5)
  // background linear-gradient(transparent, transparent 75%, rgba(#fff, .8) 75%, rgba(#fff, .8))
  // display inline-block
  padding-left .5rem
  padding-right .5rem
  padding-top 0
  margin-top 2rem
  border-left .5rem solid #fff
  // font-weight 500
  // font-family "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif

  // border-raidus 4rem


// Heading level 4.
h4()
  fontline($fontsize-medium, 2, 0.5)
  font-family $fontfamily-sansserif-ja

// Heading level 5.
h5()
  fontline($fontsize-medium, 2, 0.5)

// Heading level 6.
h6()
  fontline($fontsize-medium, 2, 0.5)

p()
  fontline($fontsize-medium)
  &:last-of-type
    margin-bottom 0

p_a()
  margin 0 .1em
  padding 0 .1rem
  position relative
  text-decoration underline

p_span()
  margin 0 .1em
  padding 0 .1rem
  color $color-text


img()
  display block
  height auto

inline-list()
  margin-left -1 * ($column-gap / 4)
  margin-right -1 * ($column-gap / 4)
  fontline($fontsize-medium)
  li
    display inline-block
    padding 0 ($column-gap / 4)
    margin 0

list()
  fontline($fontsize-medium)
  li
    margin-left $column-gap
    ol, ul
      padding-top ($column-gap / 2)
      margin-bottom ($column-gap / 2)
      margin-left $column-gap
  mobile
    padding-left $column-gap
    li
      margin-left 0

ul()
  list()
  list-style disc

ol()
  list()
  list-style-type none
  li
    counter-increment top-level
    position relative
    &:before
      content counter(top-level) '.'
      right 100%
      top 0
      font-feature-settings 'lnum', 'tnum'
      padding-right ($column-gap * 1.5 / 4)
      position absolute
      text-align right
      box-sizing: border-box
      font-weight bold
    ul
      li
        &:before
          content ''
        ol
          li
            counter-increment alt-level
            &:before
              content counter(alt-level) '.'
    ol
      li
        counter-increment sub-level
        &:before
          content counter(top-level) '.' counter(sub-level)
        ul
          li
            &:before
              content ''
        ol
          li
            counter-increment sub-sub-level
            &:before
              content counter(top-level) '.' counter(sub-level) '.' counter(sub-sub-level)

dl()
  fontline($fontsize-medium)
  dt, dd
    margin-left 2rem
    +mobile
      margin-left 0
  dt
    font-weight bold
  dd + dt
    padding-top 1rem


table()
  fontline($fontsize-medium)
  margin-top 1rem
  font-feature-settings 'lnum', 'tnum'
  border-collapse: collapse
  width 100%
  background rgba(#fff, .8)
  thead
    th
      font-weight bold
      padding-bottom 1px
  td, th
    padding .5rem
    border 1px solid $color-gray

small()
  fontline($fontsize-small)
  display inline-block

caption()
  fontline($fontsize-small)

blockquote()
  fontline($fontsize-medium)
  position relative
  background $color-lightgray-3
  border-left 1px solid $color-text
  padding-top $column-gap * 2
  padding-right $column-gap * 2
  padding-left $column-gap * 2
  padding-bottom $column-gap * 2
  p
    fontline($fontsize-medium)
    font-style italic
    color lighten($color-text, 15%)
    &:first-child
      padding-top 0
    &:last-child
      margin-bottom 0

  +mobile
    margin-left $column-gap

hr()
  background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-home0, 20%) 50%)
  .lifestyle &
    background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-lifestyle1, 20%) 50%)
  .family &
    background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-family1, 20%) 50%)
  .remote &
    background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-remote1, 20%) 50%)
  .travel &
    background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-travel1, 20%) 50%)
  .lifelog &
    background-image linear-gradient(to bottom,rgba(0, 0, 0, 0) 50%, darken($color-bg-lifelog1, 20%) 50%)
  background-position 0 50%
  background-repeat repeat-x
  background-size 100% 0.15rem
  border 0
  margin 0
  padding-bottom $section-gap
  padding-top $section-gap

pre()
  background-color $color-bg
  font-family $fontfamily-monospace
  display block
  margin-bottom $section-gap
  padding ($section-gap / 2)
  white-space pre
  white-space pre-wrap
  word-break break-all
  word-wrap break-word

code()
  fontline($fontsize-small)
  display inline-block
  word-wrap: break-word
  background-color $color-bg
  font-family $fontfamily-monospace
  background $color-lightgray-3
  color $color-red
  border 1px solid $color-lightgray-2
  padding ($column-gap / 4) ($column-gap / 2)
  margin-bottom $column-gap


upper()
  font-kerning normal
  letter-spacing 0.1rem
  text-transform uppercase

small-caps()
  font-feature-settings 'smcp'
  font-kerning normal
  letter-spacing 0.1rem

lining-numerals()
  font-feature-settings 'lnum'

oldstyle-numerals()
  font-feature-settings 'onum'


.typeset
  div
    max-width 100%
  img
    img()

  // Nice underlines for text links.
  p a, li a
    p_a()

  // Paragraphs. OpenType ligatures and oldstyle figures enabled if available.
  p
    p()

  // Heading level 1.
  h1
    h1()

  // Heading level 2.
  h2
    h2()

  // Heading level 3.
  h3
    h3()

  // Heading level 4.
  h4
    h4()

  // Heading level 5.
  h5
    h5()

  // Heading level 6.
  h6
    h6()

  // Lists.
  ul
    ul()

  // Ordered lists.
  ol
    ol()

  // Definition lists.
  dl
    dl()

  // Tables.
  table
    table()

  // Caption and inline small text.
  small
    small()

  .inline-list
    inline-list()

  .wp-caption-text,
  .caption
    caption()

  // Nice spacing for captions.
  h1 + .caption,
  h2 + .caption,
  h3 + .caption,
    margin-top (-1 * $section-gap / 2)

  h4 + .caption,
  h5 + .caption,
  h6 + .caption
    margin-top: 0rem

  // Quotes.
  blockquote
    blockquote()

  // Horizontal rule.
  hr
    hr()

  // Pre block.
  pre
    pre()

  // Code block.
  code
    code()

  // Text align justify.
  .justify
    justify()

  // Letter space those capitals people, Jan Tschichold would be proud.
  .upper
    upper()

  // Real small caps.
  .small-caps
    small-caps()

  // Consistent height numbers with OpenType.
  .lining-numerals
    lining-numerals()

  // Ascending and descending numbers with OpenType.
  .oldstyle-numerals
    oldstyle-numerals()