<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>おといあわせ</title>
  <link rel="stylesheet" href="">
</head>
<body>
  <form name="form-test" method="post" netlify action="/thankyou">
    <div class="field">
      <label class="label">お名前</label>
      <div class="control has-icons-left has-icons-right">
        <input v-model="contact.name" name="name" type="text" class="input is-success" placeholder="新垣結衣">
      </div>
    </div>
    <div class="field">
      <label class="label">メールアドレス</label>
      <div class="control has-icons-left has-icons-right">
        <input v-model="contact.email" type="email" name="email" class="input is-success"  placeholder="love@aragaki.com">
      </div>
    </div>
    <div class="field">
      <label class="label">ご相談内容</label>
      <div class="control">
        <textarea v-model="contact.message" name="message" class="textarea" placeholder="新垣結衣のホームページをつくりたいです。など"></textarea>
      </div>
    </div>
    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">送信</button>
      </div>
    </div>
  </form>
</body>
</html>